@font-face {
  font-family: 'Inter-Variation';
  src: 
    url('../fonts/Inter-Variable.woff2') format('woff2-variations'),
    url('../fonts/Inter-Variable.woff2') format('woff2');
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'PressStart2P';
  src: 
    url('../fonts/PressStart2P-Regular.woff') format('woff'),
    url('../fonts/PressStart2P-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}